@font-face {
  font-family: "Maison Neue";
  src: url("../../assets/fonts/MaisonNeue-Mono.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Maison Neue Bold";
  src: url("../../assets/fonts/MaisonNeue-Bold.ttf");
  font-weight: 700;
}
