@use "./_typography.scss" as *;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

// colors:
// $font-regular: ;
// $font-bold: ;

// colors:
// #00C82A
// #F06889
// #00C82A
// #ADCCBD
// #F0EBE6
// #FFC757
// #D1E49F
// #AEA2AB
// #FF5C88
// #271129
// #798655
// #C3F53A

$card-heading-color: #8127bb;
