@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 2rem 4rem;
  height: 113px;
  background-color: #ffffff;

  &__logo-container {
    margin-right: 2rem;
  }
}

.nav__list {
  display: flex;
}

.nav__list-item {
  padding: 1rem 3rem;
  font-size: 25px;
  &--login {
    padding: 1rem 3rem;
    font-size: 25px;
    font-weight: 700;
  }
  &--button {
    width: 131px;
    height: 65px;
    color: white;
    background-color: #00c805;
    border-radius: 33px;
    font-size: 25px;
    font-style: arial;
    border: none;
  }
}
