.footer {
  background-color: #ff5c88;
  height: 431px;
  width: 1440px;
  padding: 2rem;
}
.footer-info {
  display: flex;
  flex-direction: row;
}
.about {
  padding: 1rem;
  text-align: left;
  padding-right: 3rem;
}
.about-title {
  margin-bottom: 2rem;
  font-size: 38.35px;
}
.about-text {
  font-size: 27.23px;
}
.about-copyright {
}
